spring:
  datasource:
    url: jdbc:mysql://localhost:3306/hsmy_db?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=GMT%2B8
    username: root
    #password: sq123456
    password: 123456
  
  redis:
    host: localhost
    port: 6379
    database: 0
    password: 
    timeout: 5000ms
    jedis:
      pool:
        max-active: 8
        max-wait: -1ms
        max-idle: 8
        min-idle: 0

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

logging:
  level:
    com.hsmy: debug
    org.springframework.web: debug
    org.mybatis: debug

file:
  storage:
    local:
      root-path: ./uploads
      url-prefix: /api/file/uploads

communication:
  sms:
    enabled: false
  email:
    enabled: false
    host: smtp.163.com
    port: 25
    from: dev@test.com
    password: dev_password
    from-name: 敲敲木鱼-开发环境

wechatpay:
  enabled: true
  app-id: wx50e2472b35427201
  mch-id: 1105704232
  serial-no: 5B42C5D9F70D7405D3E3FEF41F7F3E5AD1CA463E
  notify-url: 'https://hntuobo.com/hsmy/api/payment/wechat/notify'
  description: '虚拟道具购买'
  private-key-path: D:\Administrator\Desktop\中间服务\wechat\WXCertUtil\cert\apiclient_key.pem
  public-key-path: D:\Administrator\Desktop\中间服务\wechat\WXCertUtil\cert\pub_key.pem
  api-v3-key: Administrator1105704232202612220
  public-key-id: PUB_KEY_ID_0111057042322026012800191909000206

wechat:
  mini:
    app-id: wx50e2472b35427201
    secret: f9b057d34140a08f3aff1b28053a62ac
